---
namespace: ~

fullnameOverride: ~

nameOverride: "gaseous"

app:
  name: "gaseous"
  image:
    repository: "gaseousgames/gaseousserver"
    tag: latest
    digest: "sha256:xxxxxxxxx"
    pullPolicy: IfNotPresent
  replicaCount: 1
  ports:
    - containerPort: 6595
      protocol: TCP
    - containerPort: 6999
      protocol: UDP
  service:
    ports:
      - port: 80
        targetPort: 6595
      - port: 8080
        targetPort: 6999
        protocol: UDP

  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 2Gi
      cpu: 1

  volumeMounts:
    - mountPath: /root/.gaseous-server
      subPath: "gs"

  dbHostname: "dbhost"
  env:
    - name: TZ
      value: America/Los_Angeles
    - name: dbuser
      value: root
    - name: dbpass
      value: gaseous
  envFromSecrets:
    enabled: true
    secretRefNames:
      - gaseous-server

  envFromSecrets:
    enabled: true
    secretRefNames:
      - gaseous-server

  affinity: {}
  readinessProbe:
    enabled: false

  livenessProbe:
    enabled: false
    command: []
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3

database:
  enabled: true
  host: gsdb
  port: 3306

  image:
    repository: "shakir85/bitnami-mariadb"
    tag: latest
    # digest: "sha256:xxxxxxxxx"
    pullPolicy: IfNotPresent

  volumeMounts:
    - mountPath: /bitnami/mariadb
      subPath: gsdb

  env:
    - name: ALLOW_EMPTY_PASSWORD
      value: "yes"
    - name: MARIADB_ROOT_PASSWORD
      value: gaseous
    - name: MARIADB_USER
      value: gaseous
    - name: MARIADB_PASSWORD
      value: gaseous
    - name: MARIADB_DISABLE_CHOWN
      value: "yes"

  replicas: 1
  affinity: {}


persistence:
  enabled: false
  # existingClaim: ~
  size: 200Mi
  accessMode: ReadWriteMany
  reclaimPolicy: Retain
  nfs:
    server: "nas.shakir.cloud"
    path: "/volume1/k3s-dev"

ingress:
  enabled: true
  host: "draw2.shakir.cloud"
  ingressClassName: "nginx"
  port: 80
  annotations: {}
