---
namespace: "apps"

# fullnameOverride: "ci-test"
# nameOverride: "ci"

app:
  image:
    repository: "dummy/app"
    tag: "latest"
    pullPolicy: IfNotPresent

  replicaCount: 2

  ports:
    - containerPort: 6595
      protocol: TCP
    - containerPort: 6999
      protocol: UDP

  service:
    ports:
      - port: 80
        targetPort: 6595
      - port: 8080
        targetPort: 6999
        protocol: UDP

  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 2Gi
      cpu: 1

  volumeMounts:
    - mountPath: "/app/data"
      subPath: "app"

  dbHostname: ["DB_HOST"]

  env:
    - name: DUMMY_ENV
      value: "dummy"

  envFromSecrets:
    enabled: false
    secretRefNames: []

database:
  enabled: true
  host: "dummy-db"
  port: 3306

  image:
    repository: "dummy/db"
    tag: "latest"
    pullPolicy: IfNotPresent

  volumeMounts:
    - mountPath: "/bitnami/mariadb"
      subPath: "db"

  env:
    - name: MARIADB_USER
      value: "user"

  securityContext:
    enabled: true
    runAsUser: 999
    runAsGroup: 999
    runAsNonRoot: true
    fsGroup: 999
    fsGroupChangePolicy: OnRootMismatch

  replicas: 1

persistence:
  enabled: true
  name: "ci-pvc"
  size: "5Gi"
  accessMode: "ReadWriteMany"
  reclaimPolicy: "Retain"
  nfs:
    server: "nfs-server.example.com"
    path: "/mnt/nfs/ci"

ingress:
  enabled: true
  host: "ci.example.com"
  ingressClassName: "nginx"
  port: 80
  annotations: {}
